__pycache__/
deprecatedPyFiles/
*.pyc
todo.txt
database/statsbombDatabase.db
statsbombdata/
testscripts/render/output.obj
largefiles/
MCI/mancity/db.sqlite3
testscripts/render/output.mtl
testscripts/animation/output.glb
MCI/mancity/pitch/models/output.obj
MCI/mancity/output_files.zip
MCI/mancity/pitch/output_files.zip
videos/
testscripts/
MCI/mancity/pitch/models/output.glb
MCI/mancity/pitch/glbmodels/*.glb
output.obj
MCI/mancity/staticfiles/pitch/glbmodels/*.glb
MCI/mancity/space/static/space/glbmodels/*.glb
MCI/mancity/staticfiles/space/glbmodels/*.glb